.deals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
  }
  .combo {
    position: relative;
    overflow: hidden;
    width: calc((100% / 3) - 20px); 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    border-radius: 10px; 
  }
  
  .combo img {
    width: 100%;
    max-height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
  }
  
  .combo:hover {
    transform: scale(1.05);
  }
  
  .add-to-cart {
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .add-to-cart:hover {
    background-color: #555555;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  